<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <!--<link rel="stylesheet" href="../src/codebase/dhtmlxgantt.css">-->
    <!--<script src="../src/codebase/dhtmlxgantt.js"></script>-->
    <title>lifeline2-demo</title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but lifeline2-demo doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
