<template>
  <div class="wrapper">
    <div class="gantt-header">
      <ul class="tool-bar">
        <li class="item">
          <b>Zooming: | </b>
          <input
            v-model="zooming"
            type="range"
            :min="1"
            :max="6"
            @change="zoomingChange"
          >
          {{ zooming }}
          <!--<label><input type="radio" @change="zoomingChange" v-model="zooming" value="hour">hour</label>-->
          <!--<label><input type="radio" @change="zoomingChange" v-model="zooming" value="day">day</label>-->
          <!--<label><input type="radio" @change="zoomingChange" v-model="zooming" value="week">week</label>-->
          <!--<label><input type="radio" @change="zoomingChange" v-model="zooming" value="month">month</label>-->
          <!--<label><input type="radio" @change="zoomingChange" v-model="zooming" value="year">year</label>-->
        </li>
        <li class="item">
          <button @click="zoomingToFit">
            Zooming-to-fit
          </button>
        </li>
        <li class="item">
          <label for="startDate" />
          起始时间：<input
            id="startDate"
            v-model="startDate"
            type="date"
          >
          <label for="endDate" />
          开始时间：<input
            id="endDate"
            v-model="endDate"
            type="date"
          >
          <button
            @click="setBetween"
          >
            查看区间
          </button>
        </li>
        <li class="item">
          <button @click="undoHandler">
            undo
          </button>&nbsp;
          <button @click="redoHandler">
            redo
          </button>
        </li>
        <li class="item">
          <button @click="fullscreenHandler">
            Fullscreen
          </button>
        </li>
      </ul>
      <ul class="tool-bar">
        <li class="item">
          <button @click="collapseAll">
            collapseAll
          </button>&nbsp;
          <button @click="expandAll">
            expandAll
          </button>
        </li>
        <li class="item">
          <b>filter: | </b>
          <label><input
            v-model="events"
            type="checkbox"
            value="中风"
          >中风 </label>
          <label><input
            v-model="events"
            type="checkbox"
            value="药物A"
          >药物A </label>
          <label><input
            v-model="events"
            type="checkbox"
            value="药物B"
          >药物B </label>
          <label><input
            v-model="events"
            type="checkbox"
            value="药物C"
          >药物C </label>
          <label><input
            v-model="events"
            type="checkbox"
            value="药物D"
          >药物D </label>
        </li>
      </ul>
    </div>
    <div class="gantt-content">
      <gantt :tasks="tasks" />
      <new-group-view />
      <!--<div ref="chart-container" class="chart"></div>-->
      <div
        ref="chart-container2"
        class="chart"
      />
    </div>
  </div>
</template>

<script>
  import NewGroupView from "./GroupView/NewGroupView";
  var echarts = require('echarts');
  import dataSource from './datasrouce'
  import Gantt from "../components/Gantt";

  export default {
    name: "Demo",
    components: {
      NewGroupView,
      Gantt
    },
    data() {
      return {
        data: [
          {startY: 0, startX: 1, duration: 1, count: 1, color: '#ff9900', group: [{}]},
          {startY: 0, startX: -1, duration: 1, count: 2, color: '#3f74ff', group: [1, 3]},
        ],
        zooming: 3,
        startDate: '2017/01/01',
        endDate: '2020/01/01',
        events: ['中风', '药物A', '药物B', '药物C', '药物D'],
        tasks: {
          data: dataSource.data
        }
      }
    },
    watch: {
      events(oldValue, newValue) {
        if (oldValue !== newValue) {
          this.expandAll()
          gantt.refreshData()
        }
      }
    },
    mounted() {
      const self = this
      gantt.attachEvent("onBeforeTaskDisplay", function (id, task) {
        const {events, hasEvent} = self;
        for (var i = 0; i < events.length; i++) {
          var eventName = events[i];
          if (hasEvent(id, eventName)) {
            return true;
          }
        }
        return false;
      });
      // var categories = ['categoryA', 'categoryB', 'categoryC', 'categoryB', 'categoryC', 'categoryB', 'categoryC','categoryB', 'categoryC'];
      // var types = [
      //   {name: 'JS Heap', color: '#7b9ce1'},
      //   {name: 'Documents', color: '#bd6d6c'},
      //   {name: 'Nodes', color: '#75d874'},
      //   {name: 'Listeners', color: '#e0bc78'},
      //   {name: 'GPU Memory', color: '#dc77dc'},
      //   {name: 'GPU', color: '#72b362'}
      // ];
      // categories.forEach(function (category, index) {
      //   var startX = 0;
      //   for (let i=0; i< 10; i++){
      //     var typeItem = types[Math.round(Math.random() * (types.length - 1))];
      //     var duration = Math.random() * 2;
      //     var count =  Math.floor(Math.round(Math.random() * 2));
      //     self.data.push({
      //       name: typeItem.name,
      //       value: [
      //         index,
      //         startX,
      //         duration,
      //         count
      //       ],
      //       itemStyle: {
      //         normal: {
      //           color: self.getColor()
      //         }
      //       }
      //     })
      //     startX += Math.round(Math.random());
      //   }
      // })
      // console.log(this.data)
      // this.generateChart()
      this.generateChart2()
    },
    methods: {
      getColor: function () {
        return '#' + Math.floor(Math.random() * 16777215).toString(16)
      },
      generateChart: function () {
        let data = this.data;
        const self = this
        var myChart = echarts.init(this.$refs['chart-container']);
        // 绘制图表
        myChart.setOption({
          tooltip: {},
          dataset: {
            dimensions: ['startY', 'startX', 'duration', 'count', 'color', 'group'],
            source: data
          },
          grid: {
            // width: 600,
            left: 30,
            top: 30
          },
          xAxis: {
            // type: 'value',
            position: 'top',
            min: -10,
            max: 10,
            // interval: 1,
            splitLine: {
              show: false
            }
          },
          yAxis: {
            // type: 'category',
            axisTick: {show: false},
            inverse: true,
            // data: [0,1,2,3,4,5,6,7,8,9,10],
            min: 0,
            max: 10,
            // interval: 1,
            splitLine: {
              show: true
            }
          },
          dataZoom: {
            xAxisIndex: 0,
            filterMode: 'weakFilter'
          },
          // color: ['#c23531','#2f4554', '#61a0a8', '#d48265', '#91c7ae','#749f83',  '#ca8622', '#bda29a','#6e7074', '#546570', '#c4ccd3'],
          series: [{
            type: 'custom',
            encode: {
              x: ['startX'],
              y: ['startY'],
              tooltip: ['startX', 'duration']
            },
            itemStyle: {
              normal: {
                // color: self.getColor(),
                opacity: 0.4
              },
              emphasis: {
                opacity: 0.8
              }
            },
            // dimensions: ['index', 'startX', 'duration', 'count'],
            renderItem: function (params, api) {
              // 对于 data 中的每个 dataItem，都会调用这个 renderItem 函数。
              // （但是注意，并不一定是按照 data 的顺序调用）
              // 这里进行一些处理，例如，坐标转换。
              // 这里使用 api.value(0) 取出当前 dataItem 中第一个维度的数值。
              const option = api.value(5)
              console.log(option)
              var categoryIndex = api.value(0) + 1;
              var count = api.value(3)
              var duration = api.value(2)
              var startX = api.value(1)
              var endX = startX + duration
              // 这里使用 api.coord(...) 将数值在当前坐标系中转换成为屏幕上的点的像素值。
              var startPoint = api.coord([startX, categoryIndex]);
              var endPoint = api.coord([endX, categoryIndex]);
              // 这里使用 api.size(...) 获得 Y 轴上数值范围为 1 的一段所对应的像素长度。
              var height = api.size([0, 1])[1];

              // shape 属性描述了这个矩形的像素位置和大小。
              // 其中特殊得用到了 echarts.graphic.clipRectByRect，意思是，
              // 如果矩形超出了当前坐标系的包围盒，则剪裁这个矩形。
              // 如果矩形完全被剪掉，会返回 undefined.
              var rectShape = echarts.graphic.clipRectByRect({
                // 矩形的位置和大小。
                x: startPoint[0],
                y: startPoint[1] - height,
                width: endPoint[0] - startPoint[0],
                height: height * count
              }, {
                // 当前坐标系的包围盒。
                x: params.coordSys.x,
                y: params.coordSys.y,
                width: params.coordSys.width,
                height: params.coordSys.height
              });
              var color = api.value(4) // api.visual('color');

              // 这里返回为这个 dataItem 构建的图形元素定义。
              return rectShape && {
                // 表示这个图形元素是矩形。还可以是 'circle', 'sector', 'polygon' 等等。
                type: 'rect',
                shape: rectShape,
                // 用 api.style(...) 得到默认的样式设置。这个样式设置包含了
                // option 中 itemStyle 的配置和视觉映射得到的颜色。
                style: api.style({
                  fill: color,
                  stroke: echarts.color.lift(color, 0)
                }),
                styleEmphasis: api.styleEmphasis({
                  fill: color,
                  stroke: echarts.color.lift(color, 0)
                })
              };
            },
            //   data:
            //     [
            //     {
            //       name:'aa',
            //       // value: [0,2,0.1,1],
            //       itemStyle: {
            //         normal: {
            //           color: '#237865'
            //         },
            //       },
            //     },
            //     {
            //       name:'bb',
            //       // value: [0,-1,1,2],
            //       itemStyle: {
            //         normal: {
            //           color: '#765454'
            //         }
            //       }
            //     }
            //   ]
          }]
        })
        myChart.on('click', function (params) {
          // 当 name 为 'aaa' 的图形元素被点击时，此回调被触发。
          console.log(arguments);
        });
        myChart.on('mouseover', function (params) {
          // params.data.itemStyle.
        })
      },
      generateChart2: function () {
        // var data = [];
        // var dataCount = 6;
        // for (var i = 0; i < dataCount; i++) {
        //   var val = Math.random() * 1000;
        //   data.push([
        //     echarts.number.round(Math.random() * 100),
        //     echarts.number.round(Math.random() * 400)
        //   ]);
        // }
        // console.log(data)
        const rect1 = {
          startY: 0,
          startX: 0,
          duration: 0.5,
          count: 1
        }
        const rect2 = {
          startY: 1,
          startX: 0,
          duration: 1,
          count: 2
        }
        const rect3 = {
          startY: 1,
          startX: 0,
          duration: 1,
          count: 2
        }
        function getMedian(args) {
          if (!args.length) {return 0}
          var numbers = args.slice(0).sort((a,b) => a - b);
          var middle = Math.floor(numbers.length / 2);
          var isEven = numbers.length % 2 === 0;
          return isEven ? (numbers[middle] + numbers[middle - 1]) / 2 : numbers[middle];
        }
        // 绘制多边形
        function polygon(rects) {
          rects = rects.sort((firstEl, secondEl)=>{
            if(secondEl.startY - firstEl.startY > 0){
              return -1
            }else if(secondEl.startY - firstEl.startY < 0){
              return 1
            }else {
              return 0
            }
          })
          // console.log(rects)
          const temp = []
          let sumDuration = 0
          let sumCount = 0
          let maxDuration = 0
          let durationList = []
          for (let i = 0; i < rects.length; i++) {
            const rect = rects[i];
            durationList.push(rect.duration)
            sumDuration += rect.duration * rect.count
            sumCount += rect.count
            maxDuration = maxDuration > rect.duration ? maxDuration : rect.duration // 取最大值
            if (i === 0) { // 第一个添加起始点
              temp.push([rect.startX, rect.startY])
            }
            temp.push([rect.startX + rect.duration, rect.startY])
            temp.push([rect.startX + rect.duration, rect.startY + rect.count])
            // temp.push([rect.startX, rect.startY + rect.count]) // 闭合点
            if (i === rects.length - 1) { //最后一个添加闭合点
              temp.push([rect.startX, rect.startY + rect.count]) // 闭合点
            }
          }
          return {
            data: temp,
            y_max: rects[rects.length-1].startY + rects[rects.length-1].count,
            x_max: rects[rects.length-1].startX + rects[rects.length-1].duration,
            mean: sumDuration / sumCount, // 平均值
            median: getMedian(durationList)
          }
        }

        const rects = [rect2,rect1,rect3]
        const polygonObj = polygon(rects)//[[0,0],[0.5,0],[0.5,1],[0, 1],[1.5,1],[1.5,2],[0,2]]; //[[0,0], [0,0.8], [1,0.8], [1,2],[2,2],[2,0]]
        const data = polygonObj.data
        console.log(polygonObj)
        const markLineData = [
          {name: '平均值起点', xAxis: polygonObj.mean, yAxis: 0, symbol: 'circle'},
          {name: '平均值终点', xAxis: polygonObj.mean, yAxis: polygonObj.y_max, symbol: 'circle'},
        ]
        const myChart = echarts.init(this.$refs['chart-container2']);
        myChart.setOption({
          tooltip: {

          },
          grid: {
            // width: 600,
            left: 30,
            top: 30
          },
          xAxis: {
            position: 'top',
            // inverse: true,
            min: 0,
            // data: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'],
            max: polygonObj.x_max,
            // type: 'category',
            interval: 1,
            splitLine: {
              show: false
            }
          },
          yAxis: {
            inverse: true,
            min: 0,
            // type: 'category',
            max: polygonObj.y_max,
            interval: 1,
            splitLine: {
              show: false
            }
          },
          dataZoom: {
            xAxisIndex: 0,
            filterMode: 'weakFilter'
          },
          series: [{
            type: 'line',
            markLine: {
              silent: true, // 禁用焦点
              data: [
                markLineData
              ],
              label: {
                normal: {
                  show: true,
                  position: 'end',
                  formatter: '平均值',
                },
              },
              lineStyle: {
                normal: {
                  type: 'dash',
                  color: '#666',
                  shadowColor: 'rgba(255, 255, 255, 0.5)',
                  shadowBlur: 60
                },
              },
            },
          }, {
            type: 'custom',
            name: '分析图',
            itemStyle: {
              normal: {
                color: '#4becdb',
                opacity: 0.4
              },
              emphasis: {
                opacity: 0.8
              }
            },
            renderItem: function (params, api) {
              // console.log('renderItem')
              // console.log(api)
              // console.log(params)
              var points = [];
              for (var i = 0; i < data.length; i++) {
                // console.log(api.value(i))
                points.push(api.coord(data[i]));
                // points.push(api.coord(api.value[i]));
              }
              var color = api.visual('color');

              return {
                type: 'polygon',
                shape: {
                  points: echarts.graphic.clipPointsByRect(points, {
                    x: params.coordSys.x,
                    y: params.coordSys.y,
                    width: params.coordSys.width,
                    height: params.coordSys.height
                  })
                },
                style: api.style({
                  fill: color,//echarts.color.lift(color,0),
                  stroke: echarts.color.lift(color)
                })
              };
            },
            data: data
            //   [
            //   {
            //     name: '22',
            //     value: [[0,0], [2,0], [2,2], [0,2]]
            //   }
            // ]
          }
            // {
            //   name:'Step Start',
            //   type:'line',
            //   step: 'start',
            //   areaStyle: {},
            //   data:[0,2,3,4,5,6,6]
            // },
            // {
            //   name:'Step Start',
            //   type:'line',
            //   step: 'end',
            //   areaStyle: {},
            //   data:[2,2,0]
            // }
          ]
        })
      },
      // 是否有该事件类型
      hasEvent: function (parent, eventName) {
        if (gantt.getTask(parent).text == eventName)
          return true;

        var child = gantt.getChildren(parent);
        for (var i = 0; i < child.length; i++) {
          if (this.hasEvent(child[i], eventName))
            return true;
        }
        return false;
      },
      setBetween: function () {
        gantt.config.start_date = this.startDate
        gantt.config.end_date = this.endDate
        gantt.render()
      },
      zoomingToFit: function () {
        ganttModules.zoom.deactivate();
        ganttModules.zoomToFit.toggle();
      },
      undoHandler: function () {
        gantt.undo()
      },
      redoHandler: function () {
        gantt.redo()
      },
      collapseAll: function () {
        gantt.eachTask(function (task) {
          task.$open = false;
        });
        gantt.render();

      },
      expandAll: function () {
        gantt.eachTask(function (task) {
          task.$open = true;
        });
        gantt.render();
      },
      fullscreenHandler: function () {
        if (!gantt.getState().fullscreen) {
          // expanding the gantt to full screen
          gantt.expand();
        } else {
          // collapsing the gantt to the normal mode
          gantt.collapse();
        }
      },
      zoomingChange: function (e) {
        const value = e.target.value
        ganttModules.zoomToFit.disable();
        return ganttModules.zoom.setZoom(e.target.value);
        // switch (value) {
        //   case 'hour':
        //     gantt.config.scale_unit = "day";
        //     gantt.config.date_scale = "%Y年%M%d日";
        //     gantt.config.scale_height = 60;
        //     gantt.config.min_column_width = 30;
        //     gantt.config.subscales = [
        //       {unit:"hour", step:1, date:"%H"}
        //     ];
        //     break;
        //   case 'month':
        //     gantt.config.min_column_width = 70;
        //     gantt.config.scale_unit = "year";
        //     gantt.config.date_scale = "%Y年";
        //     gantt.config.subscales = [
        //       {unit:"month", step:1, date:"%M"}
        //     ];
        //     gantt.config.scale_height = 60;
        //     break;
        //   case 'week':
        //     gantt.config.min_column_width = 70;
        //     gantt.config.scale_unit = "week";
        //     gantt.config.date_scale = "%Y年第%W周";
        //     gantt.config.subscales = [
        //       {unit:"day", step:1, date:"%D"}
        //     ];
        //     gantt.config.scale_height = 60;
        //     break;
        //   case 'day':
        //     gantt.config.min_column_width = 70;
        //     gantt.config.scale_unit = "month";
        //     gantt.config.date_scale = "%Y年%M";
        //     gantt.config.step = 1
        //     gantt.config.subscales = [
        //       {unit:"day", step:1, date:"%d号"}
        //     ];
        //     gantt.config.scale_height = 60;
        //     break;
        //   case 'year':
        //     gantt.config.min_column_width = 70;
        //     gantt.config.scale_unit = "year";
        //     gantt.config.step = 1
        //     gantt.config.date_scale = "%Y年";
        //     gantt.config.scale_height = 60;
        //     gantt.config.subscales = [
        //       // {unit:"month", step:12, date:"%M"}
        //     ];
        //     break
        // }
        // gantt.render()
      }
    }
  }
</script>
<style>
  .wrapper {
    height: 100%;
  }

  .gantt-header {
    height: 70px;
    overflow: hidden;
    display: block;
    background: #f5f5f5;
    padding: 5px 10px;
    margin-bottom: 5px;
  }

  .gantt-content {
    width: 100%;
    height: 600px;
  }

  .tool-bar {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .tool-bar:after {
    clear: both;
    content: '';
    display: block;
  }

  .tool-bar li.item {
    padding: 0;
    margin: 0;
    display: inline-block;
    float: left;
    height: 30px;
    margin-right: 15px;
  }

  button {
    height: 20px;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    background: #3364fb;
    color: #ffffff;
  }

  button:active {
    opacity: 0.3;
  }

  .chart {
    display: inline-block;
    width: 50%;
    height: 600px;
    /*border: 1px solid lightgreen;*/
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
</style>