<template>
  <div
    ref="gantt"
    class="ganttContainer"
  />
</template>

<script>

  export default {
    name: "Gantt",
    props: {
      tasks: {
        type: Object,
        default: () => {
          return {data: [], links: []}
        }
      }
    },
    mounted() {
      gantt.config.scale_unit = "month";
      gantt.config.step = 1;
      gantt.config.date_scale = "%F, %Y";
      gantt.config.subscales = [
        {unit:"day", step:1, date:"%m-%d %D"}
      ];
      // gantt.config.readonly = true
      gantt.config.scale_height = 50;
      gantt.config.link_line_width = 1;
      gantt.config.row_height = 26;
      gantt.config.task_height = 12;
      gantt.config.grid_resize = true;
      gantt.config.drag_links = true;
      gantt.config.drag_progress = false;
      gantt.config.sort = true; // 排序
      gantt.config.duration_unit = "hour"
      gantt.config.duration_step = 1;
      // 自定义任务类型
      gantt.config.types["event"] = "event";
      gantt.config.xml_date = "%Y-%m-%d %H:%i"
      gantt.locale.labels["type_event"] = "Event";

      function byId(list, id) {
        for (var i = 0; i < list.length; i++) {
          if (list[i].key == id)
            return list[i].label || "";
        }
        return "";
      }

      // tooltip
      gantt.templates.tooltip_date_format = gantt.date.date_to_str("%Y-%m-%d %H:%i");
      function formatEndDate(date, template){
        // get 23:59:59 instead of 00:00:00 for the end date
        return template(new Date(date.valueOf() - 1));
      }
      gantt.attachEvent("onGanttReady", function () {
        var styleId = "dynamicGanttStyles";
        var element = document.getElementById(styleId);
        if(!element){
          element = document.createElement("style");
          element.id = styleId;
          document.querySelector("head").appendChild(element);
        }
        var html = [];
        var resources = gantt.serverList("eventLabel");

        resources.forEach(function(r){
          html.push(".gantt_data_area .custom_task_" + r.key + "{" +
            // "background-color:"+r.backgroundColor+"; " +
            "color:"+r.backgroundColor+";" +
            "}");
          html.push(".gantt_row .gantt_cell:nth-child(1) .gantt_tree_content .tree_resource_" + r.key + "{" +
            "background-color:"+r.backgroundColor+"; " +
            "color:"+r.textColor+";" +
            "}");
        });
        element.innerHTML = html.join("");

        var tooltips = gantt.ext.tooltips;
        gantt.templates.tooltip_text = function (start, end, task) {
          if(task.type === 'project'){
            return ''
          }
          let tooltips = ["<b>用户ID:</b>" + task.owner_id + "<br/>",
            "<b>事件名称:</b> " + task.text + "<br/>" ,
            "<b>开始时间:</b> " ,
            gantt.templates.tooltip_date_format(start) ,
          ]
          if(task.type === 'task'){
            tooltips.push("<br/><b>结束时间:</b> " + formatEndDate(task.end_date, gantt.templates.tooltip_date_format))
            tooltips.push("<br/><b>持续时间:</b> " + task.duration+'H')
          }
          return tooltips.join('')
        };
      })

      gantt.serverList("eventLabel", [
        {key: 'event_02', label: "药物A", backgroundColor:"#03A9F4", textColor:"#FFF"},
        {key: 'event_03', label: "药物B", backgroundColor:"#f57730", textColor:"#FFF"},
        {key: 'event_01', label: "中风", backgroundColor:"#e157de", textColor:"#FFF"},
        {key: 'event_04', label: "Bill", backgroundColor:"#78909C", textColor:"#FFF"},
        {key: 'event_05', label: "Floe", backgroundColor:"#8D6E63", textColor:"#FFF"}
      ]);
      gantt.config.columns = [
        {name: "owner", width: 30, align: "center", resize: false , template: function (item) {
            return '<div class="tree_resource tree_resource_'+item.event_type+'"></div>'
          }
        },
        // {
        //   name: "owner_id", width: 40, label: "ID", align: "center", resize: true, template: function (item) {
        //     if(item.type == gantt.config.types.project){
        //       return item.key;
        //     }
        //     return item.owner_id
        //   }

        // },
        {name: "text", label: "事件", align: "left" , tree: true,resize: false, width: '*'},
        // {
        //   name: "duration", align: "center", width: 80,resize: false, label: "duration", template: function (task) {
        //     if(task.type === gantt.config.types.project){
        //       return ''
        //     }else if(task.type === gantt.config.types.milestone){
        //       return 0
        //     }
        //     return Number((task.duration / 24).toFixed(2)) + 'D'
        //   }
        // },
        // {
        //   name: "start_date", align: "center", width: 80,resize: false, label: "开始时间"
        // },
        // {
        //   name: 'end_date', align: "center", width: 80, resize: false,label: "结束时间"
        // }
      ]

      gantt.templates.task_class = function (start, end, task) {
        if (task.type == gantt.config.types.event) {
          return "custom_task_event";
        }
        return "";
      };


      // gantt.templates.rightside_text = function (start, end, task) {
      //   return "ID: #" + task.id;
      // };
      // gantt.serverList("staff", [
      //   {key: 0, label: "Unassigned"},
      //   {key: 1, label: "John"},
      //   {key: 2, label: "Mike"},
      //   {key: 3, label: "Anna"},
      //   {key: 4, label: "Bill"},
      //   {key: 7, label: "Floe"}
      // ]);

      gantt.templates.task_text = function(start, end, task){
        if(task.type == gantt.config.types.event){
          return "event: <b>" + task.text + "</b>";
        }
        return task.text;
      };

      // 自定义task
      gantt.config.type_renderers[gantt.config.types.task] = function(task){
        const main_el = document.createElement("div");
        main_el.setAttribute(gantt.config.task_attribute, task.id);
        const size = gantt.getTaskPosition(task);
        main_el.innerHTML = [
          "<div class='task-left'></div>",
          "<div class='task-center'></div>",
          "<div class='task-right'></div>",
          "<div class='right-text'>"+task.text+"</div>"
        ].join('');
        main_el.className = "custom-task custom_task_"+task.event_type;

        main_el.style.left = size.left + "px";
        main_el.style.top = size.top+4 + "px";
        main_el.style.width = size.width + "px";

        return main_el;
      }
      // 自定义project
      gantt.config.type_renderers[gantt.config.types.project] = function(project){
        const main_el = document.createElement("div");
        const size = gantt.getTaskPosition(project);
        main_el.setAttribute(gantt.config.project_attribute, project.id);

        main_el.innerHTML = [
          // "<div class='task-left'></div>",
          // "<div class='task-right'></div>",
          // "<div class='right-text'>"+project.text+"</div>"
        ].join('');
        // main_el.className = "custom-project";
        main_el.style.left = size.left + "px";
        main_el.style.top = size.top + 7 + "px";
        main_el.style.width = size.width + "px";
        return main_el;
      }
      // 自定义事件类型任务
      gantt.config.type_renderers[gantt.config.types.event] = function(task){
        const main_el = document.createElement("div");
        main_el.setAttribute(gantt.config.task_attribute, task.id);
        const size = gantt.getTaskPosition(task);
        main_el.className = "custom_task_event custom_task_"+task.event_type;
        main_el.innerHTML = [
          "<span class='event-point'>▲</span>",
          "<div class='right-text'>"+task.text+"</div>"
        ].join('')

        main_el.style.left = size.left + "px";
        main_el.style.top = size.top + 10 + "px";
        // main_el.style.width = "15px";
        return main_el;
      }

      //  自定义任务类型 里程碑 废弃
      gantt.config.type_renderers[gantt.config.types.milestone] = function(milestone){
        const main_el = document.createElement("div");
        main_el.setAttribute(gantt.config.task_attribute, milestone.id);
        const size = gantt.getTaskPosition(milestone);
        main_el.className = "custom-milestone custom_task_"+milestone.event_type;
        main_el.innerHTML = [
          "<span class='event-point'>▲</span>",
          "<div class='right-text'>"+milestone.text+"</div>"
        ].join('')

        main_el.style.left = size.left + "px";
        main_el.style.top = size.top + 10 + "px";
        main_el.style.width = "15px";
        return main_el;
      }
//  合并子任务
      function createBox(task,sizes, class_name) {
        var box = document.createElement('div');
        let width = sizes.width;
        let top = sizes.top;
        if(task.type === 'event'){
          width = 0
          top += 8
          box.innerHTML = [
            "<span>▲</span>",
            "<div class='right-text'>"+task.text+"</div>"
          ].join('')
          class_name += ' custom_task_event'
        }
        else if(task.type === 'milestone'){
          width = 0
          top += 8
          box.innerHTML = [
            "<span>▲</span>",
            "<div class='right-text'>"+task.text+"</div>"
          ].join('')
          class_name += ' custom-milestone'
        }
        else {
          // top += 3
          class_name += ' custom-task'
          box.innerHTML = [
            "<div class='task-left'></div>",
            "<div class='task-center'></div>",
            "<div class='task-right'></div>",
            "<div class='right-text'>"+task.text+"</div>"
          ].join('')
        }
        box.style.cssText = [
          // "height:" + sizes.height + "px",
          // "line-height:" + sizes.height + "px",
          "width:" + width + "px",
          "top:" + top + 'px',
          "left:" + sizes.left + "px",
          "position: absolute"
        ].join(";");
        box.className = class_name + ' custom_task_'+task.event_type;
        return box;
      }

      gantt.templates.grid_row_class = gantt.templates.task_class = function (start, end, task) {
        var css = [];
        if (gantt.hasChild(task.id)) {
          css.push("task-parent");
        }
        if (!task.$open && gantt.hasChild(task.id)) {
          css.push("task-collapsed");
        }
        if(gantt.hasChild(task.id)){
          css.push('custom_grid_row')
        }
        // 设置task颜色
        if (task.$virtual || task.type == gantt.config.types.project)
          css.push("summary-bar");

        if(task.owner_id){
          css.push("gantt_resource_task gantt_resource_" + task.owner_id);
        }
        return css.join(" ");
      };
      gantt.templates.task_row_class = function(start, end, task){
        var css = [];
        if(gantt.hasChild(task.id)){
          css.push('custom_grid_row')
        }
        // 设置task颜色
        if (task.$virtual || task.type == gantt.config.types.project)
          css.push("summary-bar");

        if(task.owner_id){
          css.push("gantt_resource_task gantt_resource_" + task.owner_id);
        }
        return css.join(' ')
      };
      // 设置颜色
      gantt.attachEvent("onLoadEnd", function(){

      });


      gantt.addTaskLayer(function show_hidden(task) {
        if (!task.$open && gantt.hasChild(task.id)) {
          var sub_height = gantt.config.row_height - 5,
            el = document.createElement('div'),
            sizes = gantt.getTaskPosition(task);
          var sub_tasks = gantt.getChildren(task.id);
          var child_el;

          for (var i = 0; i < sub_tasks.length; i++) {
            var child = gantt.getTask(sub_tasks[i]);
            var child_sizes = gantt.getTaskPosition(child);

            child_el = createBox(child, {
              height: sub_height,
              top: sizes.top,
              left: child_sizes.left,
              width: child_sizes.width
            }," child_preview  ");
            // child_el.innerHTML = child.text;
            el.appendChild(child_el);
          }
          return el;
        }
        return false;
      });
      // 渲染数据
      gantt.init(this.$refs.gantt)
      gantt.parse(this.$props.tasks)
      gantt.$groupMode = true
      gantt.groupBy({
        relation_property: "owner_id",
        groups: [
          {key:"1", label: "1"},
          {key:"2", label: "2"},
          {key:"3", label: "3"},
          {key:"11", label: "11"},
        ],
        group_id: "key",
        group_text: "label"
      })


    },
    methods: {
      $_initGanttEvents: function () {
        if (gantt.$_eventsInitialized)
          return;
        gantt.attachEvent('onTaskSelected', (id) => {
          let task = gantt.getTask(id)
          this.$emit('task-selected', task)
        })

        gantt.attachEvent('onAfterTaskAdd', (id, task) => {
          this.$emit('task-updated', id, 'inserted', task)
          task.progress = task.progress || 0
          if (gantt.getSelectedId() == id) {
            this.$emit('task-selected', task)
          }
        })

        gantt.attachEvent('onAfterTaskUpdate', (id, task) => {
          this.$emit('task-updated', id, 'updated', task)
        })

        gantt.attachEvent('onAfterTaskDelete', (id) => {
          this.$emit('task-updated', id, 'deleted')
          if (!gantt.getSelectedId()) {
            this.$emit('task-selected', null)
          }
        })

        gantt.attachEvent('onAfterLinkAdd', (id, link) => {
          this.$emit('link-updated', id, 'inserted', link)
        })

        gantt.attachEvent('onAfterLinkUpdate', (id, link) => {
          this.$emit('link-updated', id, 'updated', link)
        })

        gantt.attachEvent('onAfterLinkDelete', (id, link) => {
          this.$emit('link-updated', id, 'deleted')
        })
        gantt.$_eventsInitialized = true;
      }
    }
  }
</script>
<style>
  @import "../codebase/dhtmlxgantt.css";
  /*@import "../codebase/skins/dhtmlxgantt_material.css";*/
  .gantt_grid_head_cell .gantt_sort{
    right: 5%;
    top: 50%;
    transform: translateY(-7px);
  }
  .ganttContainer{
    height: 100%;
    /*height: 800px;*/
    overflow: hidden;
    margin-bottom: 5px;
    width: 100%;
    display: inline-block;
  }
  .custom-project {
    position: absolute;
    height: 1px;
    color: #999999;
    /*background: #444444;*/
    border-bottom: 1px dashed #999999;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .custom-project div {
    position: absolute;
  }

  .custom-project .task-left,.custom-project .task-right {
    top: -4px;
    background: currentColor;
    height: 10px;
    width: 2px;
  }
  .custom-project .right-text {
    left: 100%;
    margin-left: 5px;
    top: -5px;
    font-size: 12px;
    color: #999999;
  }


  .custom-task {
    position: absolute;
    height: 10px;
    color: rgba(25, 90, 214, 0.81);
  }

  .custom-task div {
    position: absolute;
  }
  .task-center {
    left: 0;
    top: 4px;
    width: 100%;
    height: 2px;
    background: currentColor;
  }
  .task-left, .task-right {
    /*top: -4px;*/
    background: currentColor;
    height: 10px;
    width: 2px;
  }
  .right-text {
    left: 100%;
    margin-left: 5px;
    top: -5px;
    font-size: 12px;
    color: #333333;
  }

  .task-left {
    left: 0;

  }

  .task-right {
    right: 0;
  }

  .task-line {
    font-weight: bold;
  }

  .custom-milestone{
    position: absolute;
    color: orangered;
    /*border-width: 8px;*/
    /*border-style: solid;*/
    /*border-color: transparent transparent orangered;*/
    transform: translate(-8px,0);
  }
  .custom-milestone span{
    width: 15px;
    display: inline-block;
    font-size: 15px;
  }
  .custom-milestone div {
    display: inline-block;
    color: #333333;
  }

  .gantt_task_line{

  }

  .custom_task_event {
    position: absolute;
    color: orangered;
    /*border-width: 8px;*/
    /*border-style: solid;*/
    /*border-color: transparent transparent orangered;*/
    transform: translate(-8px,0);
  }
  .custom_task_event span{
    width: 15px;
    display: inline-block;
    font-size: 15px;
  }
  .custom_task_event div {
    display: inline-block;
    color: #333333;
  }


  /*合并子任务*/
  .child_preview {
    box-sizing: border-box;
    margin-top: 2px;
    position: absolute;
    z-index: 1;
    /*color: white;*/
    text-align: center;
    font-size: 12px;
  }

  .gantt_task_line.task-collapsed {
    height: 4px;
    opacity: 0.25;
  }

  .gantt_task_line.gantt_project.task-collapsed .gantt_task_content {
    display: none;
  }

  .gantt_row.task-parent {
    font-weight: bold;
  }
  /* 自定义行 */
  .custom_grid_row{
    background: #f1ffe7;
  }
  /*自定义颜色*/
  .gantt_resource_task .gantt_task_content{
    color:inherit;
  }

  .gantt_resource_task .gantt_task_progress{
    background-color:rgba(33,33,33,0.3);
  }

  .gantt_cell:nth-child(1) .gantt_tree_content{
    width: 100%;
    height: 100%;
    /*line-height: 230%;*/
  }
  .gantt_cell:nth-child(1) .gantt_tree_content .tree_resource{
    border-radius: 16px;
    margin: 4px 0;
    width: 16px;
    height: 16px;
    line-height: 20px;
  }

</style>
