<template>
  <div class="group-container">
    <div class="group__top">
      <slot name="top">
        top
      </slot>
    </div>
    <div class="group__content">
      <slot name="left">
        left
      </slot>
      <slot name="right">
        right
      </slot>
    </div>
  </div>
</template>

<script>
  export default {
    name: "GroupLayout"
  }
</script>