<template>
  <div
    class="group__row"
    :style="{flex: span}"
  >
    <slot />
  </div>
</template>

<script>
  export default {
    name: "GroupRow",
    props: {
      /**
       * 跨行数
       */
      span: {
        type: Number,
        default: 1
      }
    }
  }
</script>

<style scoped>

</style>