<!--<template>-->
  <!--<div class="group__row">-->
    <!--<div class="group__cell__index">-->
      <!--<span class="group__cell__index&#45;&#45;range"></span>-->
    <!--</div>-->
  <!--</div>-->
<!--</template>-->

<script>
  export default {
    name: "GroupSlideIndex",
    props: {
      count: {
        type: Number,
        default: 10
      }
    },
    render(h, context) {
      const list = []
      for (let i=0; i<this.count; i++){
        list.push(h('div', {
          'class': 'group__row'
        }, [
          h('div', {
            'class': 'group__cell__index'
          }, [
            h('span', {
              'class': 'group__cell__index--range'
            })
          ])
        ]))
      }
      // console.log(list)
      return h('div',{
        'class': 'group__content--left'
      },list)
    }
  }
</script>