<template>
  <!--<div-->
  <!--class="group&#45;&#45;rect"-->
  <!--:style="styleObject"-->
  <!--&gt;-->
  <!--</div>-->
  <div class="rect--chart">
    <i
      class="rect--chart__start"
      :class="classStartObject"
      :style="styleStartObject"
    />
    <i
      class="rect--chart__center"
      :style="styleObject"
      :class="classCenterObject"
    />
    <i
      class="rect--chart__end"
      :class="classEndObject"
      :style="styleEndObject"
    />
  </div>
</template>
<script>
  export default {
    name: "RectChart",
    props: {
      total: {
        type: Number,
        required: true
      },
      data: {
        type: Object,
        default: ()=>{}
      }
    },
    computed: {
      classStartObject() {
        return {

        }
      },
      classCenterObject() {
        return {}
      },
      classEndObject() {
        return {}
      },
      styleStartObject() {
        return {
          color: this.data.start.color
        }
      },
      styleEndObject() {
        return {
          color: this.data.end.color
        }
      },
      styleObject() {
        let {type, duration, start} = this.data;
        let width = 0;
        let display = 'block'
        if(type !== 'milestone'){
          width = duration * 100 / this.total
        }
        let color = start.color
        if(type === 'blank'){
          color = '#c5c5c5'
        }
        // 占位用
        if(type === 'hidden'){
          display = 'none'
        }
        return {
          color: color,
          width: width+'vw',
          display: display
        }
      }
    }
  }
</script>
