<template>
  <div id="app">
    <router-view />
  </div>
</template>
<style lang="stylus">
html,body{
  /*width 100%*/
  height 100%
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  padding 0
  margin 0
}
body{
  overflow hidden
  display block
}
#app
  font-family 'Avenir', Helvetica, Arial, sans-serif
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  text-align center
  color #2c3e50
  height 100%
  overflow auto
  padding 10px
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box

</style>
