
.group-container {
  @border: 1px solid #999999;
  border: @border;
  height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  position: relative;
  .group__top{
    height: 44px;
    border-bottom: @border;
  }
  .group__content{
    flex: 1;
    counter-reset: index;
    display: flex;
    flex-direction: row;
    &--left{
      width: 40px;
      background: #dddddd;
      display: flex;
      flex-direction: column;
      padding: 5px 0;
    }
    &--right{
      flex: 1;
      padding: 5px 0;
      display: flex;
      flex-direction: row;
      overflow-x: auto;
      //min-width: 640px;
      &__minus,&__plus{
        flex: 1;
        display: flex;
        flex-direction: column;
      }
      &__minus{
        margin-right: 3px;
        .group__row {
          flex-direction: row-reverse !important;
        }
        .group__cell{
          flex-direction: row-reverse !important;
        }
      }
    }
  }
  .group__row{
    height: 40px;
    //border: @border;
    box-sizing: border-box;
    //position: relative;
    display: flex;
    flex-direction: row;
    flex: 1;
    .group__cell{
      display: flex;
      flex-direction: row;
      flex: 1;
      justify-items: left;
      text-align: left;
      &__row{
        display: flex;
        flex-direction: column;
      }
      &__index{
        width: 40px;
        height: 100%;
        text-align: right;
        &--text{
          width: 100%;
          height: 20px;
          box-sizing: border-box;
          &:before{
            counter-increment: index;
            content: counter(index);
            display: inline-block;
            width: 100%;
            height: 100%;
            //transform: rotate(-90deg) translateX(-5px);
            transform-origin: center;
            text-align: left;
          }
        }
        &--range{
          box-sizing: border-box;
          height: 100%;
          width: 10px;
          border-bottom: 1px solid #333;
          display: inline-block;
          position: relative;
          &:after{
            counter-increment: index;
            content: counter(index);
            width: 100%;
            height: 20px;
            display: block;
            position: absolute;
            bottom: 0;
            transform: rotate(-90deg) translateX(-5px);
            transform-origin: left bottom;
            left: 0;
          }
        }
      }
    }

    //&:after{
    //  counter-increment: index;
    //  content: counter(index);
    //  position: absolute;
    //  left: 0;
    //  height: 40px;
    //  width: 40px;
    //  text-align: center;
    //  background: #dddddd;
    //  color: #333;
    //  font-size: 12px;
    //}
  }
}

.range{
  height: 100%;
  box-sizing: content-box;
  display: inline-block;
  border-left: 3px solid currentColor;
  border-right: 3px solid currentColor;
  background: currentColor;
  border-radius: 1px;
  opacity: 0.6;
  &:hover,&:active{
    opacity: 1;
  }
}

// 矩形框
.group--rect{
  height: 100%;
  background: currentColor;
  display: inline-block;
  color: #9f3500;
  opacity: 0.6;
  border-radius: 4px;
  min-width: 6px;
  box-shadow: 0 0 1px 0 currentColor;
  position: relative;
  &:hover{
    opacity: 0.9;
  }

}

.rect--chart{
  height: 100%;
  display: flex;
  flex-direction: row;
  box-shadow: 0 0 1px 0 #999;
  opacity: 0.5;
  border-radius: 2px;
  overflow: hidden;
  &__start,&__end{
    width: 3px;
    height: 100%;
    background: currentColor;
  }
  &__center {
    flex: 1;
    background: currentColor;
    opacity: 0.3;
  }
  &:hover{
    opacity: 0.9;
  }
}