<template>
  <div class="group-container">
    <div class="group__top">
      top
    </div>
    <div class="group__content">
      <!--<group-index :count="4"/>-->
      <div class="group__content--left">
        <!--<group-index :count="4"/>-->
        <div class="group__row">
          <div class="group__cell__index">
            <span class="group__cell__index--range" />
          </div>
        </div>
        <div class="group__row">
          <div class="group__cell__index">
            <span class="group__cell__index--range" />
          </div>
        </div>
        <div class="group__row">
          <div class="group__cell__index">
            <span class="group__cell__index--range" />
          </div>
        </div>
        <div class="group__row">
          <div class="group__cell__index">
            <span class="group__cell__index--range" />
          </div>
        </div>
      </div>
      <div class="group__content--right">
        <!--负数-->
        <div class="group__content--right__minus">
          <div
            class="group__row"
            style="flex:2"
          >
            <div class="group__cell">
              <div
                class="group--rect"
                style="color: #1cb3fb;width: 20px"
              />
              <div class="group__cell__row">
                <div class="group__row">
                  <div class="group__cell ">
                    <div
                      class="group--rect"
                      style="width: 10px"
                    />
                    <div
                      class="group--rect"
                      style="width: 50px"
                    />
                  </div>
                </div>
                <div class="group__row">
                  <div class="group__cell ">
                    <span>2</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="group__row">
            <div class="group__cell ">
              cell2
            </div>
          </div>
          <div class="group__row">
            <div class="group__cell ">
              cell2
            </div>
          </div>
        </div>
        <!--正数-->
        <div class="group__content--right__plus">
          <div
            class="group__row"
            style="flex:2"
          >
            <div class="group__cell">
              <div
                class="group--rect"
                style="color: #1cb3fb;width: 30px"
              />
              <div class="group__cell__row">
                <div class="group__row">
                  <div class="group__cell ">
                    <div class="group--rect" />
                  </div>
                </div>
                <div class="group__row">
                  <div class="group__cell ">
                    <div class="rect--chart">
                      <i
                        class="start"
                        style="color: red"
                      />
                      <i
                        class="center"
                        style="color: red"
                      />
                      <i
                        class="end"
                        style="color: #1cb3fb"
                      />
                    </div>
                    <div class="rect--chart">
                      <i class="rect--chart__start event_001" />
                      <i class="rect--chart__center event_001" />
                      <i class="rect--chart__end event_002" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="group__row">
            <div class="group__cell ">
              cell2
            </div>
          </div>
          <div class="group__row">
            <div class="group__cell ">
              cell2
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<style>
  .event_001{
    color: #1de9b6;
  }
  .event_002 {
    color: #6e2a7a;
  }
</style>
<script>
  import groups from './groups'
  export default {
    props: {},
    data() {
      return {
        data: [
          {
            id: 1,
            text: '中风',
            start_date: '2017-04-14',
            type: 'milestone',
            duration: 0,
            event_type: 1,
            owner_id: "1"
          },
          {
            id: 2,
            text: '药物A',
            start_date: '2017-04-15 12:30',
            type: 'task',
            duration: 28,
            end_date: '2017-04-16 16:30',
            event_type: 2,
            owner_id: "1"
          },
          {
            id: 3,
            text: '药物B',
            start_date: '2017-04-18 00:00',
            duration: 96,
            // end_date: '2017-04-22',
            type: 'task',
            event_type: 3,
            owner_id: "1"
          },
          // {id: 3, text: 'Milestone #', start_date: '19-04-2017', type:gantt.config.types.milestone, duration: 3, progress: 1, owner_id: "2"},
          // {
          //   id: 4,
          //   text: '中风',
          //   start_date: '2017-04-15',
          //   type: 'event',
          //   duration: 0,
          //   event_type: 1,
          //   owner_id: "2"
          // },
          // {
          //   id: 7,
          //   text: '药物B',
          //   start_date: '2017-04-15',
          //   duration: 8,
          //   type: gantt.config.types.task,
          //   owner_id: "2"
          // },
          // {id: 5, text: '中风', start_date: '2017-04-15', type: 'event', event_type: 1, owner_id: "3"},
          // {
          //   id: 6,
          //   text: '药物C',
          //   start_date: '2017-04-15',
          //   type: gantt.config.types.task,
          //   duration: 3,
          //   progress: 1,
          //   event_type: 4,
          //   owner_id: "3"
          // },
          // {
          //   id: 8,
          //   text: '药物D',
          //   start_date: '2017-04-15 12:30',
          //   type: gantt.config.types.task,
          //   duration: 3.5,
          //   progress: 1,
          //   event_type: 5,
          //   owner_id: "3"
          // },
        ],
        groups: groups
      }
    }
  };
</script>
<style lang="less">
  @import "_GroupView";
</style>