<template>
  <group-layout>
    <group-slide-index
      slot="left"
      :count="getCount"
    />
    <group-content
      slot="right"
      :data-source="dataSource"
    />
  </group-layout>
</template>

<script>
  import GroupLayout from "./components/GroupLayout";
  import GroupSlideIndex from "./components/GroupSlideIndex";
  import GroupContent from "./components/GroupContent";
  import dataSource from './groups'
  import '../../scripts/data_group'
  export default {
    name: "NewGroupView",
    components: {GroupContent, GroupSlideIndex, GroupLayout},
    data() {
      return {
        dataSource
      }
    },
    computed: {
      getCount() {
        let minusSum = 0
        let plusSum = 0
        if (this.dataSource.minus) {
          this.dataSource.minus.groups.forEach((arr) => {
            let groupMax = 0
            arr.forEach((data) => {
              if (groupMax < data.count) {
                groupMax = data.count
              }
            })
            minusSum += groupMax
          })
        }
        if (this.dataSource.plus) {
          this.dataSource.plus.groups.forEach((arr) => {
            let groupMax = 0
            arr.forEach((data) => {
              if (groupMax < data.count) {
                groupMax = data.count
              }
            })
            plusSum += groupMax
          })
        }
        if(minusSum > plusSum){
          dataSource.plus && dataSource.plus.groups.push([{count: minusSum - plusSum, type: 'hidden'}])
        }else {
          dataSource.minus && dataSource.minus.groups.push([{count: plusSum - minusSum,  type: 'hidden'}])
        }
        return minusSum > plusSum ? minusSum : plusSum
      }
    }
  }
</script>

<style scoped>

</style>